* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

::selection {
    color: white;
    background-color: #ED3923;
}

/* ========== COMPONENTS ========== */

h1 {
    font-family: "Bevan", serif;
    font-size: 8rem;
    font-weight: 400;
    font-style: italic;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-weight: 400;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: transform 300ms;
}

button:hover {
    transform: scale(1.05);
}

button.button-underline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-underline span {
    display: block;
    width: 110%;
    height: 8px;
    background-color: #ed3b23AA;
    margin-bottom: -25px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: transform 300ms;
}

a:hover {
    transform: scale(1.05);
}

/* ========== COMPONENT MEDIA QUERIES ========== */

@media only screen and (max-width: 850px) {
    h1 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 3.25rem;
    }
}

@media only screen and (max-width: 300px) {
    h1 {
        font-size: 3rem;
    }
}

/* ========== HEADER ========== */

header {
    background-color: white;
    height: 50px;
    width: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

header #links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

header .link-item {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .link-item i {
    color: white;
}

header h2 {
    padding-right: 100px;
    font-weight: 500;
    font-size: 1.75rem;
    text-align: center;
    text-shadow: none;
}

/* ========== HEADER MEDIA QUERIES ========== */

@media only screen and (max-width: 750px) {
    header h2 {
        padding-right: 50px;
    }
}

@media only screen and (max-width: 550px) {
    header h2 {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: 90px;
        flex-direction: column;
        padding: 15px 15px;
        padding-bottom: 25px;
    }

    header #menu-button {
        position: fixed;
        top: 25px;
        right: 25px;
    }
}

/* ========== NAVIGATION ========== */

nav {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: left 600ms;
}

nav button#exit {
    position: fixed;
    top: 25px;
    right: 25px;
    display: none;
}

nav h1 {
    text-shadow: none;
    font-size: 6.5rem;
}

#contact-link h1 {
    color: white;
    -webkit-text-stroke-color: #ED3923;
    -webkit-text-stroke-width: 5px;
}

/* ========== NAVIGATION MEDIA QUERIES ========== */

@media only screen and (max-width: 850px) {
    nav h1 {
        font-size: 5rem;
    }

    #contact-link h1 {
        -webkit-text-stroke-width: 3px;
    }
}

@media only screen and (max-width: 700px) {
    nav h1 {
        font-size: 4rem;
    }

    #contact-link h1 {
        -webkit-text-stroke-width: 2px;
    }
}

@media only screen and (max-width: 500px) {
    nav h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    nav h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 300px) {
    nav h1 {
        font-size: 2rem;
    }
}

/* ========== THE LATEST SECTION ========== */

main {
    height: 100%;
    overflow: hidden;
    position: relative;
}

main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main #main-overlay {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #main-overlay h1 {
    color: white;
    margin-bottom: -25px;
}

main #main-overlay h2 {
    color: white;
    text-align: center;
}

/* ========== THE LATEST MEDIA QUERIES ========== */

@media only screen and (max-width: 500px) {
    main #main-overlay h2 {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 450px) {
    main #main-overlay h2 {
        width: 65%;
    }
}

/* ========== ABOUT ME SECTION ========== */

section#about {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about #img-container {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-right: 5%;
}

#about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

#about #about-text {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

#about #about-text h1 {
    text-shadow: none;
    width: 150%;
}

#about #about-text strong {
    font-size: 1.5rem;
    font-style: italic;
}

#about #about-text p {
    font-size: 1.15rem;
    margin-top: 25px;
}

#about #about-text a {
    display: inline-block;
    font-size: 1.15rem;
}

#about-text a span {
    width: 100%;
}

/* ========== ABOUT ME MEDIA QUERIES ========== */

@media only screen and (max-width: 1250px) {
    #about #about-text h1 {
        width: 100%;
        font-size: 6.5rem;
    }

    #about #about-text {
        width: 50%;
    }
}

@media only screen and (max-width: 1150px) {
    #about #about-text h1 {
        font-size: 5.5rem;
    }

    #about #about-text strong {
        font-size: 1.25rem;
    }

    #about #about-text p {
        font-size: 1rem;
    }

    #about #about-text a {
        font-size: 1rem;
    }

    #about #about-text a span {
        margin-bottom: -24px;
    }
    
    #about #img-container {
        width: 350px;
        height: 500px;
    }
}

@media only screen and (max-width: 1000px) {
    #about #about-text {
        width: 55%;
    }

    #about #about-text h1 {
        font-size: 5.5rem;
    }

    #about #about-text strong {
        font-size: 1.15rem;
    }

    #about #about-text p {
        font-size: 0.9rem;
    }

    #about #about-text a {
        font-size: 0.9rem;
    }

    #about #about-text a span {
        margin-bottom: -22px;
    }
    
    #about #img-container {
        width: 275px;
        height: 400px;
    }
}

@media only screen and (max-width: 900px) {
    #about #about-text {
        width: 50%;
    }

    #about #about-text h1 {
        font-size: 4rem;
    }

    #about #about-text strong {
        font-size: 1rem;
    }

    #about #about-text p {
        font-size: 0.8rem;
    }

    #about #about-text a {
        font-size: 0.8rem;
    }

    #about #about-text a span {
        margin-bottom: -21px;
    }
    
    #about #img-container {
        width: 250px;
        height: 375px;
    }
}

@media only screen and (max-width: 750px) {
    #about #img-container {
        width: 75%;
        height: 250px;
        margin-right: 0;
    }

    section#about {
        flex-direction: column;
    }

    #about #about-text {
        width: 75%;
    }

    #about #about-text h1 {
        font-size: 5rem;
        text-align: center;
    }

    #about #about-text strong {
        text-align: center;
    }

    #about #about-text p {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #about #about-text h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    #about #about-text h1 {
        font-size: 3.5rem;
        margin-top: 15px;
    }

    #about #about-text {
        width: 85%;
    }
}

@media only screen and (max-width: 400px) {
    #about #about-text h1 {
        font-size: 3.25rem;
    }

    #about #about-text {
        width: 90%;
    }

    #about #about-text strong {
        font-size: 0.9rem;
    }

    #about #about-text p {
        font-size: 0.7rem;
    }

    #about #about-text a {
        font-size: 0.7rem;
    }

    #about #about-text a span {
        margin-bottom: -18px;
    }
}

@media only screen and (max-width: 325px) {
    #about #about-text h1 {
        font-size: 3rem;
    }

    #about #about-text strong {
        font-size: 0.85rem;
    }

    #about #about-text p {
        font-size: 0.65rem;
    }

    #about #about-text a {
        font-size: 0.65rem;
    }

    #about #about-text a span {
        height: 6px;
        margin-bottom: -16px;
    }

    #about #img-container {
        width: 85%;
        height: 200px;
    }
}

/* ========== MY STUFF SECTION ========== */

section#portfolio {
    background-color: #242424;
    min-height: 80%;
    max-height: 200%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 75px;
}

#portfolio h1 {
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

#portfolio #projects {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

#portfolio #projects .project-item {
    height: 150px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 400ms;
    cursor: pointer;
}

#portfolio #projects .project-item:hover {
    transform: scale(1.05);
}

#portfolio #projects .project-item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

#portfolio button {
    color: white;
    font-size: 1.25rem;
    margin-top: 50px;
}

#portfolio button span {
    margin-bottom: -28px;
}

/* ========== PORTFOLIO MEDIA QUERIES ========== */

@media only screen and (max-width: 900px) {
    #portfolio #projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #portfolio #projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ========== CONTACT SECTION ========== */

section#contact {
    background-image: url(assets/austin-background-grayscale.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: calc(100% - 45px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact h1 {
    text-align: center;
    color: white;
    -webkit-text-stroke-color: #ED3923;
    -webkit-text-stroke-width: 5px;
}

#contact form {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 50%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

#contact form input, #contact form textarea {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 90%;
    height: 45px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

#contact form textarea {
    padding-top: 10px;
    height: 100px;
    resize: none;
}

#contact form button {
    margin-top: 25px;
    font-size: 1.15rem;
}

/* ========== CONTACT MEDIA QUERIES ========== */

@media only screen and (max-width: 1000px) {
    #contact h1 {
        font-size: 7rem;
        -webkit-text-stroke-width: 4px;
    }

    #contact form {
        width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    #contact h1 {
        font-size: 6rem;
        -webkit-text-stroke-width: 3px;
    }
}

@media only screen and (max-width: 750px) {
    #contact h1 {
        font-size: 5rem;
        -webkit-text-stroke-width: 2px;
    }

    #contact form {
        width: 75%;
    }
}

@media only screen and (max-width: 650px) {
    #contact h1 {
        font-size: 4.5rem;
    }

    #contact form {
        width: 80%;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 575px) {
    #contact h1 {
        font-size: 5.5rem;
        width: 90%;
        line-height: 6rem;
    }

    #contact form {
        border-radius: 15px;
    }
}

@media only screen and (max-width: 450px) {
    #contact h1 {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    #contact form {
        border-radius: 10px;
    }
}

@media only screen and (max-width: 400px) {
    #contact form {
        border-radius: 10px;
        height: 300px;
    }
}

@media only screen and (max-width: 325px) {
    #contact h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    #contact form {
        width: 90%;
    }
}

/* ========== FOOTER ========== */

footer {
    background-color: #242424;
    height: 45px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
}

/* ========== FOOTER MEDIA QUERIES ========== */

@media only screen and (max-width: 700px) {
    footer h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    footer h2 {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 500px) {
    footer h2 {
        font-size: 1rem;
    }

    footer {
        flex-direction: column;
        height: 100px;
        padding: 10px 15px;
    }
}